<form action="/" method="post">
  <div class="row gameboard">
    <div class="col-sm-6 play">
      <div class="active-dice">
        <% if @player1.active_dice %>
          <h3>Active Dice: </h3>
          <% @player1.active_dice.each.with_index do |die, index| %>
            <label>
              <input type="checkbox" name="active_dice" id="<%= index %>" value = "<%= die %>"><%= die %>
            </label>
          <% end %>
          <h3>Active Dice Score: </h3>
          <span id="active_dice_score"> <%= @player1.score(@player1.active_dice) %></span>
        <% end %>
      </div>
      <div class="message">
        <h3 id="message"><%= @player1.message %></h3>
      </div>
      <div class="frozen-dice">
        <h3>Frozen Dice: </h3><span id="frozen_dice_array"><%= @player1.frozen_dice %></span>
      </div>
    </div>
    <div class="col-sm-6 scoring">
      <div class="score">
        <h3>Frozen Score in Hand: </h3><span id="frozen_dice_score"><%=@player1.score(@player1.frozen_dice) %></span>
      </div>
        <div class="bank">
          <% if @player1.banked != (0) %>
            <h3>Banked Score: </h3><span id="banked_score"><%= @player1.banked %></span>
          <% end %>
        </div>
      <div class="Strikes">
        <h3>Strikes: </h3><span id="strikes"><%= @player1.strikes %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="method">
        <select class="form-control" name="method">
          <option value="freeze">Freeze</option>
          <option value="bank">Bank</option>
        </select>
      </div>
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-success">Go!</button>
      <a href="/roll"><button type="button" class="btn btn-danger">Roll</button></a>
    </div>
</div>
</form>
